@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@400;700&display=swap');

*{
    margin-left: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: Cinzel;
    color: black;     
}
/*navbar*/
li {
    margin-left: 25px;
}
/*main-image*/
.container {
    margin-top: 80px;
}
.materials {
    margin-top:20px;
}
/*dividers for contact page*/
#dividers-line, #dividers-line1{
    width: 75px;
    height: 5px;
    border: 0;
    float: none;
    margin: 0 auto;
    background-color: rgb(95, 83, 83);
    margin-bottom: 20px;
}
/*form for the conact page*/
#submit-form {
    padding-top: 100px;
    width: 40%;
    float: none;
    margin: 0 auto;
    text-align: center;
}
/*footer with social media links*/
footer{
    height: 20px;
    margin-top: 50px;

}
.social-network {
    text-align: center;
}
.social-network li {
    display: inline;
}

.social-network i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: black;
}

@media screen and (max-width:1393px) {

    #submit-form {
        width: 80%;
    }    
}

@media screen and (max-width: 943px) {

    #submit-form {
        width: 80%;
    }  

}


