@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@400;700&display=swap');

*{
    margin-left: 0;
    padding: 0;
    border: 0;
}
body {
    font-family: Cinzel;
    color: black;     
}
/*art by arsh logo*/

#main-logo {
    float: none;
    margin: 0 auto;
    width: 270px;                  
}
/*nav-bar*/

#menu {
    font-size: 110%;
    list-style-type: none;
    float: none;
    margin: 0 auto;
    margin-left: 600px;
}
#main-logo, #menu{
    line-height: 75px;
    
}
#menu li {
    float: left;
    margin-right: 100px;

}
#menu a {
    text-decoration: none;
    color: inherit; 
}
#menu a:hover {
    border-bottom: 1px solid black;
    font-size: 110%;
}
/*paiting by the artist as hero image*/


#hero-image{
    height: 600px;
    width: 50%;
    overflow: hidden;
    margin-left: 5%;
    margin-top:50px;
}
/*information about the artist logo*/

#about {  
    height: 600px;     
    margin-top: -600px;
    margin-right: 2.5%;
    width: 40%;
    float: right;
    text-align: center;
    
}

h1 {
    margin-top: 20px
}
#about-paragraph {    
    padding-top: 20px;
    width: 75%;
    float: none;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    
}

/*dividers*/

#dividers-line, #dividers-line1{
    width: 75px;
    height: 5px;
    border: 0;
    float: none;
    margin: 0 auto;
    background-color: rgb(95, 83, 83);
    margin-bottom: 20px;
}
/*form for the conact page*/

#submit-form {
    padding-top: 100px;
    width: 40%;
    float: none;
    margin: 0 auto;
    text-align: center;
}

/*paintings*/

#gallery1 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    height: 500px;
    width: 25%;
    overflow: hidden;
    margin-left:20%;
    margin-top:50px;

}
#gallery2 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    height: 500px;
    width: 25%;
    float: right;
    margin-right:20%;
    margin-top:-500px;
}
#gallery3{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    height: 500px;
    width: 25%;
    overflow: hidden;
    margin-left:20%;
    margin-top:50px;
}
#gallery4{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    height: 500px;
    width: 25%;
    float: right;
    margin-right:20%;
    margin-top:-500px;
}
#gallery5{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    height: 500px;
    width: 25%;
    overflow: hidden;
    margin-left:20%;
    margin-top:50px;
}
#gallery6{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    height: 500px;
    width: 25%;
    float: right;
    margin-right:20%;
    margin-top:-500px;
}

/*social media icons*/


footer{
    height: 20px;
    margin-top: 100px;

}
.social-network {
    text-align: center;
}
.social-network li {
    display: inline;
}

.social-network i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: black;
}

@media screen and (max-width:1393px) {
    #main-logo {
    width: 80%;
    margin-left: 25%;
    }
    #menu {
    font-size: 110%;
    list-style-type: none;
    width:80%;
    margin-left:20%;
    }
    #menu li {
        float: left;
        margin-left: 10px;
        

    }    
    #hero-image {
        width: 80%;
        height: 400px;
        margin-left: 10%;
        
    }
    #about{
        width:90%;
        margin-left:5%;
        margin-top: 50px;
    }
    #gallery1 {
        height: 600px;
        width: 60%;
        float: none;
        margin-left: 20%;
        margin-top: 30px;
       
    }
    #gallery2 {
        height: 600px;
        width: 60%;
        float: none;
        margin-left: 20%;
        margin-top: 50px;
       
    }
    #gallery3 {
        height: 600px;
        width: 60%;
        float: none;
        margin-left: 20%;
        margin-top: 50px;
       
    }
    #gallery4 {
        height: 600px;
        width: 60%;
        float: none;
        margin-left: 20%;
        margin-top: 50px;
       
        
    }
    #gallery5 {
        height: 600px;
        width: 60%;
        float: none;
        margin-left: 20%;
        margin-top: 50px;
    }
    #gallery6 {
        height: 600px;
        width: 60%;
        float: none;
        margin-left: 20%;
        margin-top: 50px;      
    }
    #submit-form {
        width: 80%;
    }    
}
@media screen and (max-width:943px) {
    

}


